<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="canonical" href="{{ page.url | replace: '.html', '' | absolute_url }}">
  <meta property="og:url" content="{{ page.url | replace: '.html', '' | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:image" content="{{ page.image | default: site.open_graph_image | absolute_url }}">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | absolute_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.png" | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="stylesheet" href="https://use.typekit.net/{{ site.typekit }}.css">
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "/css/app.css" | relative_url }}">
</head>
<body>
  <div class="page-content">
    <header class="page-header">
      <div class="page-logo text-overflow block-center"><a href="/">Cinepocalypse - Film reviews</a></div>
      <nav class="page-nav text-center">
        <ul class="page-nav-list list-reset">
          <li class="page-nav-item"><a href="/about">About</a></li>
          <li class="page-nav-item"><a href="#subscribe-form">Subscribe</a></li>
          <li class="page-nav-item"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a></li>
        </ul>
      </nav>
    </header>
    <main class="page-body underline-link">
      {{ content }}
    </main>
    <footer class="page-footer text-center">
      <section id="subscribe-form" class="is-max-content-width">
        <h3>Sign up for the mailing list</h3>
        <p>Get the latest and greatest in Cinepocalypse reviews. You won't be spammed and will never receive more than one email a week.</p>
        <div id="mc_embed_signup">
          <form action="https://ianhirschfeld.us15.list-manage.com/subscribe/post?u=b4adb0ee562987d6ec41c0582&amp;id=d40374a63f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b4adb0ee562987d6ec41c0582_d40374a63f" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>
      </section>
    </footer>
  </div>
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
</body>
</html>
